/**
 * @name yo mama xd
 * @author yo mama xd
 * @version 1.0.0
 * @source https://github.com/colbymm254/discordthing
 * @website https://github.com/colbymm254/discordthing
 * @donate yo mama xd
 * @patreon yo mama xd
 * @description A theme inspired by yo mama xd
 * @authorId yo mama xd
*/

@import url('https://raw.githubusercontent.com/colbymm254/discordthing/main/yo%20mama%20xd.css');

/* TO CUSTOMIZE THE THEME, UNCOMMENT THE LINES BELOW AND REPLACE THE VARIABLES */

/* REMOVE THIS LINE TO UNCOMMENT

:root {
  --background: #000000 !important;
  --text-color: #4AEF98 !important;
  --highlight: var(--text-color) !important;
}

   REMOVE THIS LINE TO UNCOMMENT ASWELL */
