/**
 * @name Custon oiliaN BR
 * @author yo mama xd
 * @version yo mama xd
 * @source yo mama xd
 * @website https://commandcrafterhd.github.io/Fallout4TerminalTheme
 * @donate yo mama xd
 * @patreon yo mama xd
 * @description yo mama xd
 * @authorId yo mama xd
*/

@import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/css/main.css');

/* TO CUSTOMIZE THE THEME, UNCOMMENT THE LINES BELOW AND REPLACE THE VARIABLES */

/* REMOVE THIS LINE TO UNCOMMENT

:root {
  --background: #4d1f7d !important;
  --text-color: #5e5204 !important;
  --highlight: var(--text-color) !important;
}

   REMOVE THIS LINE TO UNCOMMENT ASWELL */
  
